body {
    margin: 0 auto;
    background: white;
}

#wrapper {
    background: white;
    margin: 10px auto 2em;
    width: 980px;
}

#main {
    float: left;
    width: 650px;
    background: white;
    border-top-left-radius: 10px;
    border-right: #DDDDDD 1px solid;
}

#sidebar {
    float: right;
    width: 300px;
    margin-top: 25px;
    background: white;
    border-top-right-radius: 10px;
}

#sidebar-content {
    margin: 10px;
}

#sidebar-header {
    color: #999;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}

.etc {
    clear: both;
    padding: 10px;
}

#footer {
    clear: both;
    padding: 2.8125em 0;
    text-transform: uppercase;
    border-top: #DDDDDD 1px solid;
    font-family: "Open Sans", sans-serif;
}

#footer-content {
    margin: 0 auto;
    width: 980px;
    text-align: center;
    color: rgba(46, 48, 58, 0.96);
}

#login {
    border: 1px solid #AEAEAE;
    margin: 100px auto 0;
    padding: 0;
    width: 300px;
}

#adminmenu {
    padding-left: 0;
}

#adminmenu li {
    float: left;
    list-style: none;
    margin-right: 20px;
}

.clear {
    clear: both;
}

.error {
    padding: 0.75em;
    margin: 0.75em;
    border: 1px solid #990000;
    max-width: 400px;
    color: #990000;
    background-color: #FDF0EB;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

#header {
    border-bottom: #DDDDDD 1px solid;
    width: 980px;
    margin: 0 auto;
}

#header-title {
    padding: 20px;
    background-size: cover;
    text-align: center;
    position: relative;
}

#header-title h1 {
    margin-bottom: 0;
    font-size: 75px;
    font-weight: bold;
    color: rgba(46, 48, 58, 0.96);
}

#header-title h2 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgba(46, 48, 58, 0.96);
}

#content-wrapper {
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post {
    border-bottom: #DDDDDD 1px solid;
    margin: 20px;
}

.post-title a {
    font-size: 22px;
    color: #363842;
}

p.blog-date {
    color: #999;
    margin: 0 0 10px 0;
    font-style: italic;
}

.post:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #DDDDDD 1px solid;
    margin: -5px auto;
    background: #FFF;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
}

#single-post-wrapper {
    width: 700px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: #363842;
    line-height: 1.15em;
    margin: 0 0 0.4em 0;
    font-family: "Open Sans", sans-serif;
}

p, li {
    color: #555555;
    font-size: 16px;
    line-height: 1.5em;
}

a {
    font-size: 14px;
    color: #ad141e;
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
    font-family: "Open Sans", sans-serif;
}

form input {
    border: 1px solid #999999;
    border-bottom-color: #cccccc;
    border-right-color: #cccccc;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    margin: 2px;
}

table {
    width: 98%;
    text-align: left;
    border: 1px solid #DDDDDD;
    font-size: 12px;
    color: #000;
    background: #fff;
    margin-bottom: 10px;
}

table th {
    background-color: #E5E5E5;
    border: 1px solid #BBBBBB;
    padding: 3px 6px;
    font-weight: normal;
    color: #000;
}

table tr td {
    border: 1px solid #DDDDDD;
    padding: 5px 6px;
}

table tr.alt td {
    background-color: #E2E2E2;
}

table tr:hover {
    background-color: #F0F0F0;
    color: #000;
}