html {
    font-size: 16px;
}

body {
    margin: 0 auto;
    background: #f8f8f8;
    font-size: 62.5%; /* 1em = 10px */
}

.container {
    width: 70%;
    margin: 0 auto;
}

.group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

* html .group {
    zoom: 1;
}

/* IE6 */
*:first-child + html .group {
    zoom: 1;
}

main {
    float: left;
    width: 66.326531%;
    border-right: #DDDDDD 1px solid;
}

.sidebar {
    float: right;
    width: 31.632653%;
    margin-top: 1.020408%;
}

.sidebar h2 {
    color: #999;
    font-size: 1.6em;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}

footer {
    clear: both;
    padding: 2.040816%;
    border-top: #DDDDDD 1px solid;
}

.inner-footer {
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: rgba(46, 48, 58, 0.96);
}

.banner {
    border-bottom: #DDDDDD 1px solid;
    text-align: center;
    position: relative;
}

.banner h1 {
    margin: 0;
    font-size: 7.5em;
    font-weight: bold;
    color: rgba(46, 48, 58, 0.96);
}

.banner h2 {
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgba(46, 48, 58, 0.96);
}

.content-wrapper {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

article {
    border-bottom: #DDDDDD 1px solid;
    margin: 2.040816%;
}

article header h2 {
    font-size: 2.2em;
    color: #363842;
}

article header h2 a {
    font-size: 1em;
    color: #363842;
}

p.blog-date {
    color: #999;
    margin: 0 0 10px 0;
    font-style: italic;
}

.post:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #DDDDDD 1px solid;
    margin: -5px auto;
    background: #FFF;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
}

#single-post-wrapper {
    width: 700px;
    margin: 0 auto;
}

p, li {
    color: #555555;
    font-size: 1.6em;
    line-height: 1.5em;
}

a {
    font-size: 0.875em;
    color: #ad141e;
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
    font-family: "Open Sans", sans-serif;
}

/* =========================== Admin Section =========================== */

#login {
    border: 1px solid #AEAEAE;
    margin: 100px auto 0;
    padding: 0;
    width: 300px;
}

.adminmenu {
    background-color: #E5E5E5;
    padding: .510205%;
}

.adminmenu li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}

.admin {
    margin: 1.020408% auto;
}

table {
    width: 100%;
    text-align: left;
    border: 0.102041em solid #DDDDDD;
    font-size: 1.2em;
    color: #000;
    background: #fff;
}

table th {
    background-color: #E5E5E5;
    border: 1px solid #BBBBBB;
    padding: 3px 6px;
    font-weight: normal;
    color: #000;
}

table tr td {
    border: 1px solid #DDDDDD;
    padding: 5px 6px;
}

table tr.alt td {
    background-color: #E2E2E2;
}

table tr:hover {
    background-color: #F0F0F0;
    color: #000;
}

form input {
    border: 1px solid #999999;
    border-bottom-color: #cccccc;
    border-right-color: #cccccc;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    margin: 2px;
}

/* Errors */

.error {
    padding: 0.75em;
    margin: 0.75em;
    border: 1px solid #990000;
    max-width: 400px;
    color: #990000;
    background-color: #FDF0EB;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

/* =========================== Media Queries =========================== */

@media screen and (max-width: 1080px) {
    .container {
        width: 90%;
    }

    .content {
        margin: 0 auto;
    }

    main {
        float: none;
        border: none;
        width: inherit;
        border-bottom: #DDDDDD 1px solid;
    }

    .sidebar {
        float: none;
        width: inherit;
    }

    .pagination {
        text-align: center;
    }
}